*{
  margin:0;
  padding:0;
  background-color:103783;
}
body{
        font-family: Arial, sans-serif;
        text-align: center;
        color:rgb(51, 51, 204);
        padding-top:7%;
      }
       
